.dashboard-container-split {
  padding: 24px !important;
}

.event-grid-container-split {
  justify-content: center !important;
}

.event-card-split {
  padding: 0 8px !important;
  height: 100%;
  width: 220px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.event-actions-split {
  padding-top: 0px !important;
  padding-bottom: 16px !important;
}