.event-group-tabs-paper {
  border-radius: 0.5rem !important;
  margin-bottom: 1rem;
}

.temp-post-box {
  width: 100%;
  max-width: 50rem;
  height: auto;
  min-height: 20rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 0.5rem !important;
  margin-bottom: 1rem;
}

@media (min-width: 48rem) {
  .temp-post-box {
    min-height: 25rem;
  }
}

@media (min-width: 64rem) {
  .temp-post-box {
    width: 50vw;
    min-height: 30rem;
  }
}

.info-tab {
  height: auto;
  width: 100%;
  max-width: 100%;
}