.create-event-container-split {
  padding: 24px !important;
}

.create-event-paper-split {
  padding: 32px !important; 
  border-radius: 12px !important; 
}

.create-event-submit-btn-split {
  background-color: #1976d2 !important;
}

.create-event-submit-btn-split:hover {
  background-color: #115293 !important;
}