.
.vnavbar-shortcut-title {
  padding: 0.75rem 1rem 0.25rem 1rem;
  display: block;
  color: #555;
  font-size: 0.75rem;
  font-weight: 600;
}

.vnavbar-shortcut-avatar {
  width: 1.75rem;
  height: 1.75rem;
  margin-left: 0.25rem;
}